#userHeader {
	background-color: #e8e8e8;
	border-bottom: 1px solid silver;
}

	#userHeader h3 {
		font-weight: 400;
		margin: 10px;
	}

	#userHeader button {
		float: right;
		margin: 3px;
	}

.minCell {
	width: 1px;
}

.clearFix:after {
	content: " ";
	clear: both;
	display: block;
}

.noSelect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.noMarginCollapse
{
	padding: 0.1px;
}

.keypad {

}

	.keypad button.ui.button {
		margin: 5px;
	}
