body,
html,
#app,
#appWrap {
	height: 100%;
	margin: 0;
	padding: 0;
}

.defects button {
	margin: 10px !important;
	display: inline-block;
	width: 20%;
}

#opView {
	height: 100%;
	display: flex;
	flex-direction: column;
}

	#opView .productItem {
		flex-grow: 1;
		display: flex;
		border-bottom: 1px solid silver;
	}

		#opView .productItem .section {
			border-right: 1px solid silver;
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			flex-grow: 1;
			flex-basis: 33%;
			text-align: center;
		}

			#opView .productItem .section label {
				position: absolute;
				padding: 0 5px;
				margin-left: auto;
				margin-right: auto;
				left: 0;
				right: 0;
				text-align: center;
				font-weight: 700;
			}
